@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/global';

.post {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: variables.$light-grey;
    transition: 0.3s;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    @include mixins.tablet {
        width: 40rem;
        margin: 1rem auto;
    }

    &__delete {
        width: 1.1rem;
        align-self: flex-end;
    }

    &__user {
        font-size: 0.8rem;
        color: variables.$accent-orange;
    }

    &__title {
        font-size: 1.1rem;
        margin: 1rem;
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &__post-content {
        display: flex;
        flex-direction: column;
    }

    &__likes-date {
        display: flex;
        align-items: center;
        margin: 0rem 1rem;
    }

    &__likes {
        display: flex;
    }

    &__likes-image {
        width: 1.3rem;
    }

    &__likes-number {
        margin-left: 0.5rem;
    }

    &__text {
        word-wrap: break-word;
    }
}
