@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/global';


.main {
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;

    &__post-card {
        margin: 1rem 0;
    }
}
