@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/global';

p {
    margin: 1rem;
    color: variables.$blue;
}

.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem 1.5rem;

    &__modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: .5;
    }

    &__modal-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
    }

    &__modal {
        z-index: 100;
        background: white;
        top: 6rem;
        left: 1.3rem;
        position: relative;
        margin: 1.75rem auto;
        border-radius: 10px;
        max-width: 20rem;
        border: 3px solid variables.$accent-orange;

        @include mixins.tablet {
            max-width: 500px;
        }
    }

    &__modal-header {
        display: flex;
        justify-content: flex-end;
    }

    &__close-button {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;
        color: variables.$accent-orange;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    &__label, &__input {
        padding-bottom: 0.5rem;
        color: variables.$blue;
        font-weight: 600;
    }

    &__label {
        letter-spacing: 1.5px;
    }

    &__input {
        margin-bottom: 0.5rem;
        border: 1px solid variables.$blue;
        border-radius: 10px;
        padding-left: 0.8rem;
        padding-top: 0.5rem;

    }

    &__button {
        margin-top: 0.5rem;
        background-color: rgba($color: variables.$blue, $alpha: 0.7);
        border: none;
        border-radius: 15px;
        padding: 0.5rem 0;
        color: variables.$light-grey;
        font-weight: 600;
        text-transform:uppercase;
        letter-spacing: 2px;
    }
}

.link {
    color: variables.$blue;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}
